
{% extends "booklist/nav_bar.html" %}



{%load static%}
{%block list%}
<link rel="stylesheet" type="text/css" href="{% static "/booklist/css_files/index.css" %}"/>






<div id="list-view">
<h1>{{message}}</h1>
	<ul>


		<div class="listitem">
	 
		<li>
		<table style="width:100%">
			<tr>
				<th>
				</th>
				<th>Genre
				</th>
				<th>Rating
				</th>
				<th>Stock
				</th>
			
			
			</tr>
			<tr>
				<td>
					<div id="book_cover">
						{% with 'booklist/book_covers/'|add:book.book_cover as book_cover %}
								<img src ="{% static book_cover %}"/>
						{% endwith %}
					</div>		
								<h3>{{books.name}}</h3>
								<p><em>{{books.author}}</em></p>
				</td>
				<td>{{books.genre}}</td>
				
				<td>
				<div id="star">
				{% for i in "x"|rjust:book.rating %}
					
					<img src="{% static "/booklist/icons/star.jpg"%}"/>
					
				{%endfor%}
				
				</div>
					
				</td>
				<td>{{book.stock}}</td>
				
				
				
			</tr>			
		</table>
			
		   

		</li>

		
		 </div>
	</ul>

</div>
{%endblock%}
